.container {
  height: 300px;
  width: 500px;
  background-color: greenyellow;
}

.heading {
  color: black;
}
.form {
  outline: 1px solid green;
}
.left {
  background-color: #fff;
}
.right {
  background-color: aqua;
}
.google_btn {
  border: 2px solid red;
}
.text {
  font-size: 18px;
}
