.navBar {
  display: flex;
  align-self: stretch;
  font-size: 28px;
  background-color: aqua;
}

.navList {
  display: flex;
  flex-direction: column-reverse;
  align-self: stretch;
  justify-content: center;
}

.navItem {
  align-items: center;
  justify-content: center;
  padding: 10px;

  :not(:last-child) {
    margin-right: 80px;
  }
}
