.logo {
  display: flex;
  align-items: center;
}

.logo_text {
  padding-left: 11px;
  font-size: 14px;
  line-height: 0.9;
}

.logo_title {
  font-size: 34px;
  line-height: 0.8;
}
.logo_imgWrapper {
  margin-right: 12px;
  background-color: var(--light-accent-color);
}
