.navBar {
  display: flex;
  font-size: 28px;
}

.logo {
  margin: 0 24px;
  padding: 10px;
}
.navList {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 24px;

  :not(:last-child) {
    margin-right: 80px;
  }
}

.navItem {
  align-items: center;
  justify-content: center;
  padding: 10px;

  :not(:last-child) {
    margin-right: 80px;
  }
}
